
.article {
    background-Image: url("../../assets/BgImage.png");
    height: 463.91px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 20px ;
    color: #fff;
    gap: 4px;
}

.arrors {
  display:flex;
  gap:20px;
  justify-content:center;
    margin-top:20px;
}

.faqlist{
    display:flex;
    justify-content:space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left : 23px;
}

.border {
    height : 1px;
    background-color : #fff;
}
.faqTitle {
    font-size:18px;
    font-weight:800;
    margin: auto 0;
}

.faqDetails {
    display:flex;
    justify-content:space-between;
    margin-bottom: 24px;

}

.detailsText{
    width : 80%;
    overflow : scroll;
    direction: rtl;
    text-align: left;
    scroll-bar : block;

    @media (max-width:900px){
        height: 93px;
    }
}
/* ::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  } */
   
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #888; 
  } */ 
.item_direction {
    text-align: left;
    margin-left: 20px; 
    display: flex;
    justify-content:end;
  }
.arrorDirection {
    transform: rotate(180deg);
}
.arrorDirection0 {
    transform: rotate(90deg);
}

