.topBar {
    background-color: var(--cloud-burst);
    /* background-color: #2b275a; */
    height: 30px;
    color: white;
    font-size: 14px;
    display: flex;
    padding: 0 0 0 8px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    /* overflow-x: scroll; */
    p span {
        /* background-color: var(--artyclick-orange); */
        color: #ff8412;
    }
}

.marqueeContainer {
    overflow-x: auto;
    white-space: nowrap;
    /* margin-left: 10px; Adjust as needed */
}

.marqueeContainer span {
    display: inline-block;
    /* padding-right: 20px; Add some spacing between items */
}
