.creditCardContainer {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    position: relative;
    flex-direction: column;
}
.creditCardBackgroundImage {
    background-image: url('../assets/images/creditCardBackgroundImage.png');
    width: 90%;
    margin: 0 auto;
    /* width: 40.8rem;
    height: 100%; */
}

.cardName {
    width: 12.2rem;
    height: 3.8rem;
    background-color: var(--cloud-burst);
}
