.discountContainer {
    width: 90%;
    margin: 40px auto 20px auto;
    font-size: 14px;
    font-weight: bolder;
    padding: 0 4px;
}
.couponsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    /* margin-bottom: 40px; */
    width: 90%;
    margin: 0 auto;
    @media (max-width: 350px) {
        gap: 8px;
        margin-bottom: 20px;
    }
}
.couponBackground {
    background-image: url('../../assets/images/CouponBackground.png');
    width: 388px;
    height: 117px;
}
.couponCard {
    padding: 10px 30px;
    display: flex;
    /* flex-direction: column; */
    gap: 4px;
    width: 100%;
    @media (max-width: 380px) {
        gap: 8px;
        padding: 5px 15px;
    }
}
.offer {
    background: var(--artyclick-orange);
    width: max-content;
    font-weight: bolder;
    font-size: 8.11px;
    border-radius: 25px;
    padding: 4px 8px;
    color: white;
    /* margin: 12px; */
    @media (max-width: 480px) {
        margin: 7px;
    }
    @media (max-width: 400px) {
        margin: 0px;
    }
}
.title {
    color: var(--cloud-burst);
    width: 240px;
    height: 36px;
    font-weight: bold;
    font-size: 15px;
    margin: 6px 0px 6px;
    @media (max-width: 380px) {
        width: 201px;
        font-size: 12px;
        height: 25px;
    }
}
.code {
    display: flex;
    justify-content: space-between;
    color: var(--artyclick-orange);
    font-weight: bold;
    font-size: 10px;
    align-items: center;
    width:141px;
}

.removeBtn {
    background-color: #ff8412;
    border-radius: 25px;
    padding: 9.5px 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    position :absolute;
    right:0 ;
    bottom:0;
    width:75px;
    
    @media (max-width: 380px) {
        padding: 4px 8px;
        bottom: 0px !important;
        top:51px;
    }
    @media (max-width: 420px) {
        bottom: 8px !important;
    }
}
.btnText {
    font-weight: bolder;
    font-size: 10px;
    color: white;
    @media (max-width: 380px) {
        font-size: 8px;
    }
    /* @media (max-width: 340px) {
        font-size: 6px;
    } */
}

.loadMore {
    background-color: var(--cloud-burst);
    font-size: 10px;
    font-weight: bolder;
    height: 30px;
    width: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    border: none;
}

.btnDiv {
    display: flex;
    justify-content: end;
}
