.container {
    background-image: url('../../assets/images/Subtract.png');
    height: 603px;
    /* padding: 0 8px; */
    /* margin-bottom: 20px; */
    /* padding: 20px 10px 0 10px; */
    /* background-color: var(--artyclick-orange); */
}

.containerCard {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    /* justify-content: center; */
    align-items: center;

    /* padding: 8px; */
    @media (max-width: 340px) {
        margin: 10px 0;
        padding: 10px 0;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    @media (max-width: 400px) {
        margin-top: 30px !important;
    }
}
.cardList {
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: center;
    align-items: center;
}

.roundedCircle1 {
    width: 50px;
    height: 50px;
    background-color: var(--cloud-burst);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}

.patientDetailKey {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 600;
    font-size: 10px;
    color: #9593ad;
}
.patientDetailValue {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 600;
    font-size: 10px;
    color: var(--cloud-burst);
}

.patientService {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
    @media (max-width: 400px) {
        gap: 10px;
    }
}

.profilInfo {
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    /* padding-bottom: 10px; */

    @media (max-width: 480px) {
        margin-bottom: 10px;
    }
}

.dashedLine {
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin: 0px auto;
}
.dashedLine2 {
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin: 4px auto;
}

.drDetails {
    display: flex;
    justify-content: space-between;
    /* gap: 63px; */
    /* justify-content: center; */
    padding: 20px 0;

    @media (max-width: 340px) {
        justify-content: center;
        gap: 13px;
        padding: 10px 0;

        /* padding: 6px 0; */
    }
    @media (max-width: 406px) {
        /* gap: 13px; */
    }
    @media (max-width: 430px) {
        /* gap:28px; */
    }
    /* @media (max-width: 430px) {
        gap:28px;
    } */
}
.drName {
    /* background-color: #9593ad; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: var(--cloud-burst);
    font-family: 'Kumbh Sans';
    gap: 2px;

    p {
        font-size: 14px;
        font-weight: bold;
    }
    span {
        font-size: 8px;
        font-weight: 600;
    }
    @media (max-width: 380px) {
        /* width: 96px;
        margin-left: 4px; */
        p {
            font-size: 12px;
        }
        span {
            font-size: 6px;
        }
    }
}
.drClinic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-grow: 1; */
    color: var(--artyclick-orange);
    font-family: 'Kumbh Sans';
    gap: 2px;
    h1 {
        font-size: 14px;
        font-weight: bold;
    }
    p {
        font-size: 10px;
        font-weight: 600;
        color: var(--cloud-burst);
    }

    @media (max-width: 380px) {
        /* width: 96px;
        margin-left: 4px; */
        h1 {
            font-size: 12px;
        }
        p {
            font-size: 8px;
        }
    }
}

.rightSide {
    display: flex;
    gap: 12px;
    @media (max-width: 380px) {
        gap: 8px;
    }
    @media (max-width: 340px) {
        gap: 4px;
    }
}

.location {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--artyclick-orange);
    color: white;
    border-radius: 25px;
    rotate: 135deg;
}

.billingDetails {
    background-color: #2b275a;
    font-family: 'Kumbh Sans';
    border-radius: 25px;
    color: white;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 330px) {
        margin-left: 4px;
        margin-right: 4px;
    }

    @media (max-width: 380px) {
        padding: 12px;
        margin-top: 12px;
    }
}
.billHeading {
    font-size: 14px;
    font-weight: bolder;
    margin: 6px 12px 5px 12px;
    @media (max-width: 380px) {
        font-size: 12px;
    }
}

.bill {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 600;
    margin: 0 12px;
    p {
        color: #9593ad;
    }
}
.billingValue {
    color: white !important;
}
.couponsContainer {
    font-weight: bold;
    font-size: 10px;
    display: flex;
    padding-top: 4px;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin: 0 12px 13px;
}
.chip {
    /* background-color: var(--artyclick-orange); */
    /* opacity: 0.1; */
    background-color: #ff841221;
    border-radius: 25px;
    display: flex;
    padding: 4px 8px;
    gap: 4px;
    align-items: center;

    @media (max-width: 500px) {
    }
}
.payableAmount {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bolder;
    padding-top: 4px;
    margin: 0 12px 6px;
    @media (max-width: 380px) {
        padding-top: 2px;
        font-size: 10px;
    }
}

.patientDetail {
    display: flex;
    margin: 10px 20px;
    gap: 168px;
    flex-grow: 1;

    @media (max-width: 354px) {
        margin: 5px 10px !important;
        gap: 46px !important;
    }
    @media (max-width: 425px) {
        gap: 50px !important;
    }
    @media (max-width: 450px) {
        gap: 70px;
    }
}
