.container {
    position: relative;
}
.header {
    position: absolute;
    top: 0;
    width: 100%;
}
.containerCard {
    /* margin: 20px; */
    /* width: 100%; */
    /* width: 408px; */
    /* height: 424px; */
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    /* justify-content: center; */
    align-items: center;

    /* padding: 8px; */
    @media (max-width: 340px) {
        margin: 10px 0;
        padding: 10px 0;
    }
    @media (max-width: 400px) {
        margin-top: 30px !important;
    }
}
.cardList {
    /* padding: 8px; */
    width: 100%;
    /* background-color: bisque; */
    /* display: flex;
    flex-direction: center;
    align-items: center; */
}
/* .roundedCircle{
	width: 50px;
	height: 50px;
} */

/* .patientDetial {
    display: flex;
    margin: 10px 20px;
    gap:168px;
    flex-grow: 1;

     @media (max-width: 340px) {
        margin: 5px 10px !important;
        gap:46px !important;

    } 
    @media (max-width: 425px) {
        gap:77px !important;

    }
    @media (max-width: 450px) {
        gap:116px;

    } 
   
} */
