html {
    --cloud-burst: #2b275a;
    --artyclick-orange: #ff8412;
    --dark: #211f2b;
    /* font-size: 87.5%; */
    font-size: 67.5%;
}
/* host not working, so use html */
/* :host {
    --cloud-burst: #2b275a;
    --artyclick-orange: #ff8412;
} */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    font-family: 'Kumbh Sans', 'League Spartan', sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    /* font-style: normal; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
button {
    font-family: 'Kumbh Sans';
}

.fontFamily {
    font-family: 'Kumbh Sans';
}

.screen2Background {
    background-image: url('./assets/images/Screen2.png');
    height: 828.89px;
}

.paymentMode {
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .cardChipBackground {
    background-image: url('./assets/images/cardChip.png');
    width: 198px;
    height: 126px;
} */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: auto auto auto auto; */
    gap: 12px;
}
.cardContent {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
}

.roundedCircle {
    width: 50px;
    height: 50px;
    background-color: var(--cloud-burst);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.cashMode {
    font-size: 16px;
    font-weight: bold;
}

.payTitle {
    font-size: 12px;
    font-weight: bold;
    color: #2b275a;
    padding: 0 12px;
}

.activeMode {
    width: 14px;
    height: 14px;
    background-color: var(--artyclick-orange);
    box-shadow: 0px 0px 100px 0px rgba(255, 132, 18, 0.5);
    border-radius: 25px;
}
.unactiveMode {
    width: 14px;
    height: 14px;
    background-color: #e4e2e1;
    /* box-shadow: 0px 0px 100px 0px rgba(255, 132, 18, 0.5); */
    border-radius: 25px;
}

.arrow {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (width <= 400px) {
    /* .activeMode { */
    /* background-color: blue; */
    /* } */
    .cardContent {
        padding: 8px;
        gap: 6px;
    }
    .roundedCircle {
        width: 40px;
        height: 40px;
    }
    .grid {
        gap: 4px;
    }
    .cashMode {
        font-size: 12px;
    }
    .payTitle {
        font-size: 12px;
        padding: 0;
    }
}

.holder {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .heading {
        color: #ff8412;
        font-size: 24px;
        font-weight: 800;

        .highlight {
            color: #2b275a;
        }
    }

    .content {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        .discription {
            margin-top: 10px;
            font-size: 10px;
            font-weight: 400;
            color: #757575;
        }
    }

    .girlImg {
        margin-top: -50px;
    }
}

.creditCard {
    box-shadow: 0px 41px 0px -20px #ffffff4f;
    border-radius: 80px;

    @media (max-width: 750px) {
        box-shadow: 0px 33px 0px -13px #ffffff4f;
        border-radius: 47px;
    }
}

/* ***** Media Queries ****** */
@media screen and (max-width: 400px) {
    html {
        font-size: 50%;
    }
}
