.section {
    background-image: url('../../assets/blueBgImg.png');
    height: 243px;
    padding: 0 20px;
    margin-top: 50px;
    display: flex;

    @media (max-width: 560px) {
        justify-content: space-between;
    }

    @media (max-width: 333px) {
        justify-content: space-between;
        gap: 5px;
        padding: 0 10px;
    }
}

.infoDiv {
    display: flex;
    margin: 0 auto;
    gap: 20px;

    @media (max-width: 400px) {
        gap: 5px;
    }
}

.iphoneImg {
    margin-top: -33px;
    width: 148px;
    height: 226px;
}

.info {
    display: flex;
    margin-top: 4.2rem;
    flex-direction: column;
    gap: 2rem;
}

.heading {
    /* width:220px;
            height:40px; */
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
}

.download {
    font-size: 2rem;
    color: #ff8412;
    font-weight: 800;
}

.infoLine {
    font-size: 1rem;
    font-weight: 500;
    color: #757575;
}

.storeLink {
    display: flex;
    margin-top: 20px;
    gap: 10px;

    @media (max-width: 333px) {
        gap: 2px;
    }
}
.imgplayStore {
    width: 69.78px;
    height: 24.06px;
}
